@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300&family=DM+Mono:wght@400;500&display=swap');

html { 
    scroll-behavior: smooth; 
}
body {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
header {
    background-color: #202020;
    display: grid;
    grid-template-columns: 1fr 5fr;
    color: #575656;
}
main.conteudo {
    display: grid;
    grid-template-columns: 1fr 8fr;
    height: 100vh;
}
aside {
    background-color: #202020;
}
aside h3 {
    text-align: center;
    color: #777474;
}
aside hr {
    width: 70%;
    border: 0; 
    height: 1px; 
    background-color: #777474;
}
nav.navegacao {
    display: flex;
    flex-direction: column;
    text-align: center;
}
div.nav-item {
    padding: 15px;
    transition: all 0.3s ease;
    color: #575656;
}
div.nav-item:hover {
    background-color: #302e2e;
    color: white;
    cursor: pointer;
}
section {
    background-color: #0f0f0f;
}
footer {
    background-color: #0f0f0f;
}